<div>
  <h2 id="page-heading" data-cy="TakeawayHeading">
    <span jhiTranslate="erApp.takeaway.home.title">Takeaways</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info mr-2" (click)="loadAll()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="erApp.takeaway.home.refreshListLabel">Refresh List</span>
      </button>

      <!--  <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-takeaway"
        [routerLink]="['/takeaway/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="erApp.takeaway.home.createLabel"> Create a new Takeaway </span>
      </button>
      -->
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="takeaways?.length === 0">
    <span jhiTranslate="erApp.takeaway.home.notFound">No takeaways found</span>
  </div>

  <div class="table-responsive" id="entities" *ngIf="takeaways && takeaways.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr>
          <th scope="col"><span> الطلب </span></th>
          <th scope="col"><span>صنف الطلب </span></th>
          <th scope="col"><span jhiTranslate="erApp.takeaway.totalPrice">Total Price</span></th>
          <th scope="col"><span>تاريخ الطلب </span></th>
          <th scope="col"><span> </span></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let takeaway of takeaways; trackBy: trackId" data-cy="entityTable">
          <td>
            <h4>{{ takeaway.product.name }}</h4>
          </td>
          <td>{{ takeaway.product.category ? takeaway.product.category.name : '' }}</td>
          <td>{{ formateMoney(takeaway.totalPrice) }}</td>
          <td>{{ takeaway.createdDate | localizedDate }}</td>
          <td class="text-right">
            <div class="btn-group">
              <button type="submit" (click)="delete(takeaway)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
