<!--


(mouseleave)="showOptions=false;"
-->

<div
  *ngIf="table"
  (mouseenter)="showCloseButton = true"
  (mouseleave)="showOptions = false; showCloseButton = false"
  style="
    user-select: none; /* supported by Chrome and Opera */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    cursor: pointer;
  "
  (click)="singleClick()"
  (dblclick)="dblClick()"
  [id]="'table-' + table.id + 'selector'"
  class="card border"
  [ngClass]="{
    'border-3': isSelected,
    'border-success border-active': table.active,
    'border-danger': !table.active
  }"
>
  <div class="card-body p-2">
    <h5 class="card-title row">
      <span class="col-10">
        <i class="fa fa-bitbucket mx-1" aria-hidden="true"></i><a *ngIf="table" href="#" class="card-link"> {{ table.name }}</a>
      </span>

      <div style="text-align: center" *ngIf="tableType == 'table'">
        <!-- <button
          *ngIf="table.active"
          (click)="diableClick(); showOptions = !showOptions; deviceClicked()"
          class="btn mt-3 col-3 badge-primary shadow-sm border text-center m-auto btn-sm p-0"
        >
          <i style="font-size: large" class="fa fa-cog m-auto mx-0 mt-1" aria-hidden="true"></i>
        </button> -->
        <li
          class="col-sm p-0 pointer my-1 border text-center btn p-2 shadow-sm dropdown px-5"
          (click)="diableClick(); loadAllDevices()"
          *ngIf="table.active && showOptions"
          style="list-style: none"
          ngbDropdown
          display="dynamic"
          routerLinkActive="active"
          [routerLinkActiveOptions]="{ exact: true }"
        >
          <a
            style="float: right; font-size: small; text-align: right"
            class="nav-link dropdown-toggle p-0"
            ngbDropdownToggle
            href="javascript:void(0);"
            id="entity-menu"
            data-cy="entity"
          >
            <span>
              <i class="fa fa-share" aria-hidden="true"></i>
              <span>تحويل لجهاز</span>
            </span>
          </a>
          <ul style="overflow: scroll; max-height: 300px" class="dropdown-menu" ngbDropdownMenu aria-labelledby="entity-menu">
            <li *ngFor="let device of devices">
              <a class="dropdown-item" style="text-transform: none" (click)="moveToDevice(device)">
                <span>{{ device.name }}</span>
              </a>
            </li>
          </ul>
        </li>

        <li
          class="col-sm p-0 pointer my-1 border text-center btn p-2 shadow-sm dropdown px-5"
          (click)="diableClick(); loadAllTables()"
          *ngIf="table.active && showOptions"
          style="list-style: none"
          ngbDropdown
          display="dynamic"
          routerLinkActive="active"
          [routerLinkActiveOptions]="{ exact: true }"
        >
          <a
            style="float: right; font-size: small; text-align: right"
            class="nav-link dropdown-toggle p-0"
            ngbDropdownToggle
            href="javascript:void(0);"
            id="entity-menu"
            data-cy="entity"
          >
            <span>
              <i class="fa fa-share" aria-hidden="true"></i>
              <span>تحويل لصالة</span>
            </span>
          </a>
          <ul style="overflow: scroll; max-height: 300px" class="dropdown-menu" ngbDropdownMenu aria-labelledby="entity-menu">
            <li *ngFor="let tablex of tables">
              <a *ngIf="tablex.id != table.id" class="dropdown-item" style="text-transform: none" (click)="moveToTable(tablex)">
                <span>{{ tablex.name }}</span>
              </a>
            </li>
          </ul>
        </li>
      </div>
    </h5>
  </div>

  <div *ngIf="table.active && table.totalPrice" class="justify-content-center align-items-center p-1 row border-top mx-2 m-1 pt-2">
    <a
      *ngIf="showCloseButton"
      (click)="diableClick(); openCheckoutModal()"
      style="float: right; font-size: 15px; text-align: right"
      class="nav-link text-danger btn-sm col-auto p-0"
      id="entity-menu"
      data-cy="entity"
    >
      <span>
        <i class="fa fa-credit-card" aria-hidden="true"></i>
        <span> انهاء</span>
      </span>
    </a>

    <a
      style="
        text-align: right;
        user-select: none; /* supported by Chrome and Opera */
        -webkit-user-select: none; /* Safari */
        -khtml-user-select: none; /* Konqueror HTML */
        -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
      "
      href="#"
      class="card-link float-right m-0 pr-2 col-sm"
      >{{ formateMoney(table.totalPrice) || 'EGP 0' }}</a
    >
  </div>
  <div *ngIf="!table.active" class="justify-content-center align-items-center p-1 row border-top mx-2 m-1 pt-2">
    <a href="#" class="card-link float-left">
      <label class="badge badge-danger">{{ 'متوقف' }}</label></a
    >
  </div>
</div>
<!-- Modal -->
<div class="modal fade" id="modal{{ table.id }}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog rounded-lg border">
    <div class="modal-content">
      <div class="modal-header">
        <div class="card-body">
          <h5 class="card-title">
            <span style="cursor: pointer" data-toggle="modal" [attr.data-target]="'#modal' + table.id">
              <a href="#" class="card-link"> {{ table.name }}</a></span
            >
          </h5>
        </div>
      </div>
      <div class="modal-body">
        <div *ngIf="table.active && totalPrice" class="form-group row">
          <label for="staticEmail" class="col-sm-2 col-form-label">السعر</label>
          <div class="col-sm-10" style="text-align: right">
            <a href="#" class="card-link">{{ formateMoney(totalPrice) }}</a>
          </div>
        </div>
        <hr />

        <form>
          <div [hidden]="true" *ngIf="table.active" class="form-group row">
            <label for="colFormLabelLg" class="col-sm-4 col-form-label col-form-label-lg">الخصم</label>
            <div class="col-sm-8">
              <div class="input-group mb-3">
                <input
                  type="email"
                  (ngModelChange)="discount = $event; getDevicePrice()"
                  [(ngModel)]="discount"
                  [ngModelOptions]="{ standalone: true }"
                  [value]="discount"
                  class="form-control form-control-lg"
                  id="colFormLabelLg"
                  placeholder=""
                />
                <span class="input-group-text">%</span>
              </div>
            </div>
          </div>

          <div *ngIf="table.active" class="form-group row">
            <label for="colFormLabelLg" class="col-sm-4 col-form-label col-form-label-lg">السعر الكلي</label>
            <div class="col-sm-8">
              <div class="input-group mb-3">
                <input
                  type="email"
                  [(ngModel)]="totalPrice"
                  [ngModelOptions]="{ standalone: true }"
                  [value]="totalPrice"
                  class="form-control form-control-lg"
                  id="colFormLabelLgx"
                  placeholder=""
                />
                <span class="input-group-text p-0 p-1">$</span>
              </div>
            </div>
          </div>
        </form>
        <div *ngIf="table.active" class="form-group row">
          <div class="col-sm-10 offset-sm-0">
            <div class="form-check">
              <input [(ngModel)]="print" [ngModelOptions]="{ standalone: true }" class="form-check-input" type="checkbox" id="printBox" />
              <label class="form-check-label" for="printBox"> طباعة بعد الحفظ </label>
            </div>
          </div>
        </div>
        <button data-dismiss="modal" aria-label="Close" class="btn btn-primary col" (click)="endSession()">انهاء</button>
      </div>
    </div>
  </div>
</div>
