<div class="row justify-content-center">
  <div class="col-8">
    <div *ngIf="product">
      <h2 data-cy="productDetailsHeading"><span jhiTranslate="erApp.product.detail.title">Product</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="erApp.product.id">Id</span></dt>
        <dd>
          <span>{{ product.id }}</span>
        </dd>
        <dt><span jhiTranslate="erApp.product.name">Name</span></dt>
        <dd>
          <span>{{ product.name }}</span>
        </dd>
        <dt><span jhiTranslate="erApp.product.price">Price</span></dt>
        <dd>
          <span>{{ product.price }}</span>
        </dd>
        <dt><span jhiTranslate="erApp.product.category">Category</span></dt>
        <dd>
          <div *ngIf="product.category">
            <a [routerLink]="['/admin/entities/category', product.category?.id, 'view']">{{ product.category?.name }}</a>
          </div>
        </dd>

        <div *ngIf="product.subProducts" class="row">
          <h3>add sub item</h3>

          <jhi-product-update *ngIf="addNew && product.id" [addSub]="true" [addSubParent]="product.id"></jhi-product-update>
          <div class="">
            <div class="col-12">
              <button class="btn btn-success" (click)="addNew = true">add new sub item</button>
              <div class="row">
                <button
                  *ngFor="let subProd of product.subProducts"
                  style="padding: 25px; cursor: pointer"
                  type="button"
                  class="col-auto border rounded m-1 text-center"
                >
                  {{ subProd.name }}
                  <small class="d-block badge badge-warning text-center">{{ subProd.price }} LE</small>
                  <i class="fa fa-minus text-danger" (click)="removeSub(subProd.id)"></i>

                  <i class="fa fa-edit text-warning mx-2" [routerLink]="['/admin/entities/product', subProd.id, 'edit']"></i>
                </button>
              </div>
            </div>
          </div>
        </div>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
      </button>

      <button type="button" [routerLink]="['/admin/entities/product', product.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
      </button>
    </div>
  </div>
</div>
