<div class="row" *ngIf="tables" style="display: content">
  <div class="col-8">
    <div class="card-body px-1">
      <h5 *ngIf="tableType == 'table'" class="card-title mx-4">الصالات</h5>
      <h5 *ngIf="tableType == 'takeaway'" class="card-title mx-4">الاوردرات</h5>
      <h5 *ngIf="tableType == 'shops'" class="card-title mx-4">المحلات</h5>
      <div class="card jh-card m-2 p-4">
        <div class="row justify-content-center align-items-center">
          <div class="col-md-3 p-1" *ngFor="let table of tables">
            <jhi-table-component
              [tableType]="tableType"
              (tableDoubleClicked)="onTableDoubleClicked($event)"
              (tableClicked)="selectTable($event)"
              [isSelected]="selectedTable && selectedTable.id == table.id"
              (tableStarted)="loadAllTables()"
              (tableStopped)="loadAllTables()"
              (tableMovedToDevice)="tableMovedToDevice($event)"
              (tableMovedToTable)="tableMovedToTable($event)"
              [table]="table"
            ></jhi-table-component>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="col-lg-4 py-5 col-sm-12">
    <div class="card p-3" *ngIf="selectedTable">
      <h5 class="card-title">
        {{ selectedTable.name }}
      </h5>

      <div class="card-body">
        <div class="row" *ngIf="selectedTable && selectedTable.active && selectedTable.ordersData">
          <h5 class="card-title my-2">الطلبات</h5>

          <div class="table-responsive" id="entities">
            <table class="table" aria-describedby="page-heading">
              <thead>
                <tr style="display: none">
                  <th scope="col"><span>اسم الجهاز</span> <fa-icon icon="sort"></fa-icon></th>

                  <th scope="col"><span>الوقت</span> <fa-icon icon="sort"></fa-icon></th>

                  <th scope="col"><span>سعر الوقت</span> <fa-icon icon="sort"></fa-icon></th>
                  <th scope="col"><span>سعر الوقت</span> <fa-icon icon="sort"></fa-icon></th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let prod of selectedTable.ordersData.slice().reverse()" data-cy="entityTable">
                  <td style="word-break: break-word" class="text-center">
                    <h6 style="word-break: keep-all" class="text-primary">{{ prod.name }}</h6>
                  </td>

                  <td>
                    <span style="font-size: large" class="float-left text-primary col-xs p-0">
                      <span class="badge badge-primary">{{
                        selectedTable.ordersQuantity[prod.id] ? selectedTable.ordersQuantity[prod.id] : '1'
                      }}</span>
                    </span>
                  </td>

                  <td>
                    <small class="text-muted"> {{ getProductPrice(prod) }}LE</small>
                  </td>
                  <td>
                    <dx-button-group
                      [items]="ordersButtons"
                      keyExpr="style"
                      stylingMode="text"
                      selectionMode="none"
                      (onItemClick)="orderItemClick($event, prod.id)"
                    >
                    </dx-button-group>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>

      <div
        class="card-body pt-0"
        *ngIf="
          selectedTable &&
          selectedTable.active &&
          selectedTable.paidOrdersQuantity &&
          toObjectKeys(selectedTable.paidOrdersQuantity).length > 0
        "
      >
        <h5 class="card-title">حساب طلبات</h5>
        <div class="row">
          <div class="table-responsive" id="entities">
            <table class="table" aria-describedby="page-heading">
              <thead>
                <tr style="display: none">
                  <th scope="col"><span>اسم الجهاز</span> <fa-icon icon="sort"></fa-icon></th>

                  <th scope="col"><span>الوقت</span> <fa-icon icon="sort"></fa-icon></th>

                  <th scope="col"><span>سعر الوقت</span> <fa-icon icon="sort"></fa-icon></th>
                  <th scope="col"><span>سعر الوقت</span> <fa-icon icon="sort"></fa-icon></th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let prod of selectedTable.ordersData.slice().reverse()" data-cy="entityTable">
                  <div style="display: contents" *ngIf="selectedTable.paidOrdersQuantity[prod.id]">
                    <td style="word-break: break-word" class="text-center">
                      <h6 style="word-break: keep-all" class="text-primary">{{ prod.name }}</h6>
                    </td>

                    <td>
                      <span style="font-size: large" class="float-left text-primary col-xs p-0">
                        <span class="badge badge-primary">{{
                          selectedTable.paidOrdersQuantity[prod.id] ? selectedTable.paidOrdersQuantity[prod.id] : '1'
                        }}</span>
                      </span>
                    </td>

                    <td>
                      <small class="text-muted"> {{ prod.price }}LE</small>
                    </td>
                    <td>
                      <dx-button-group
                        [items]="paidOrdersButtons"
                        keyExpr="style"
                        stylingMode="text"
                        selectionMode="none"
                        (onItemClick)="orderItemClick($event, prod.id)"
                      >
                      </dx-button-group>
                    </td>
                  </div>
                </tr>
              </tbody>
            </table>
          </div>

          <div class="col-12">
            <span class="">
              <a href="#" class="card-link float-right m-0 pr-2 col-auto p-1" style="border: 1px darkblue dotted">
                {{ selectedTable.paidOrdersPrice }}
              </a>
            </span>
            <span class="">
              <button
                [disabled]="completeBtn"
                (click)="completeSelectedDevicePaidOrdersPayment(false)"
                type="button"
                class="btn btn-success"
              >
                <h6><i class="fa fa-credit-card"></i> حساب</h6>
              </button>
              <button
                [disabled]="completeBtn"
                (click)="completeSelectedDevicePaidOrdersPayment(true)"
                type="button"
                class="btn btn-success"
              >
                <h6><i class="fa fa-print"></i> <i class="fa fa-credit-card"></i> حساب وطباعة</h6>
              </button>
            </span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
