<!-- Modal -->

<div *ngIf="device" class="container p-5 m-1 mb-5">
  <div class="card shadow-sm border">
    <div class="card-body">
      <div class="row mb-4">
        <div class="col-sm-6">
          <div class="card-body">
            <h5 class="card-title">
              <span style="cursor: pointer" data-toggle="modal" [attr.data-target]="'#modal' + device.id">
                <h1 class="card-title">
                  <span>
                    <i class="fa fa-tv" aria-hidden="true"></i> <a href="#" class="card-link"> {{ device.name }}</a></span
                  >
                </h1>
                <h6 class="card-subtitle mb-2 text-muted my-3">
                  {{ device.type.name }}
                  <span *ngIf="device.session && device.session.multi">
                    <small class="border bg-light text-danger p-1 rounded"> <i class="fa fa-gamepad mr-2"> </i>{{ 'multi' }} </small>
                  </span>
                </h6>
              </span>
            </h5>

            <div *ngIf="device && device.session" class="row text-center">
              <div class="col text-center" style="text-align: right">
                <div>
                  <strong>المدة</strong>
                </div>
                <label class="badge badge-success" style="font-size: large">{{
                  (device.session.start | countdowntimer | async) || '0 m'
                }}</label>
              </div>
              <div class="col">
                <h6 class="mb-3 text-center">
                  وقت البدا :
                  <div class="col text-center" style="text-align: right">
                    <a href="#" class="card-link">{{ device.session.start | date: 'shortTime' }}</a>
                  </div>
                </h6>
              </div>
            </div>
          </div>
        </div>

        <div *ngIf="device && device.session" class="col-sm-6 text-center">
          <div *ngIf="device.session">
            <div *ngIf="device && device.session && device.session.ordersPrice && device.session.ordersPrice">
              <strong>حساب الطلبات</strong>
            </div>
            <small *ngIf="device && device.session && device.session.ordersPrice" for="staticEmail" class="col text-right"
              ><span class="text-muted">ِEGP</span>
              <span class="text-primary" style="font-size: large">
                {{ (device | devicePrice: false:timeDiscount:ordersDiscount:false:true | async) || '0 ' }}
              </span>

              <span *ngIf="ordersDiscount > 0" class="text-danger" style="font-size: small">
                {{ (device | devicePrice: false:0:0:false:true | async) || '0 ' }}
              </span></small
            >
            <div *ngIf="device && device.session">
              <strong>حساب الوقت</strong>
            </div>
            <small *ngIf="device && device.session" for="staticEmail" class="col text-center">
              <span class="text-muted">ِEGP</span>
              <span class="text-primary" style="font-size: large">
                {{ (device | devicePrice: false:timeDiscount:ordersDiscount:true:false | async) || '0 ' }}</span
              >

              <span *ngIf="timeDiscount > 0" class="text-danger" style="font-size: small">
                {{ (device | devicePrice: false:0:0:true:false | async) || '0 ' }}
              </span></small
            >

            <div
              *ngIf="device && device.session && device.session.previousSessionsTotalPrice && device.session.previousSessionsTotalPrice > 0"
            >
              <strong>حساب اجهزة سابقة</strong>
            </div>
            <small
              *ngIf="device && device.session && device.session.previousSessionsTotalPrice && device.session.previousSessionsTotalPrice > 0"
              for="staticEmail"
              class="col text-center"
            >
              <span class="text-muted">ِEGP</span>
              <span class="text-primary" style="font-size: large"> {{ device.session.previousSessionsTotalPrice }}</span>
            </small>
          </div>

          <div>
            <div>
              <strong>الاجمالي</strong>
            </div>
            <div class="col text-center">
              <a href="#" class="card-link">
                <span class="text-muted">ِEGP</span>
                <span class="text-primary" style="font-size: x-large">
                  {{ (device | devicePrice: false:timeDiscount:ordersDiscount:false:false:false | async) || '0 LE' }}
                  <span *ngIf="timeDiscount > 0 || ordersDiscount > 0" class="text-danger" style="font-size: small">
                    {{ (device | devicePrice: false:0:0:false:false:false | async) || '0 ' }}
                  </span></span
                >
              </a>
            </div>
          </div>
        </div>

        <div *ngIf="device.session && device.session.previousSessions && device.session.previousSessions.length > 0" class="col-12">
          <div class="my-2 row">
            <span *ngFor="let sess of device.session.previousSessions" class="badge my-2 col-12 border pt-2">
              <h6 style="text-align: left" class="mx-1 col-auto text-black p-0">
                {{ sess.device.name }}
              </h6>
              <span>
                <label class="badge badge-success col-xs float-left"
                  >{{ sess.hours + 'h ' + sess.minutes + ' m' }}

                  <span *ngIf="sess.multi">
                    <small class="border bg-light text-danger p-1 rounded"> <i class="fa fa-gamepad mr-2"> </i>{{ 'multi' }}</small>
                  </span>
                </label>
                <a href="#" class="card-link float-right m-0 pr-2 col-auto p-1" style="border: 1px darkblue dotted"
                  >EGP {{ sess.totalPriceTime }}
                </a>
              </span>
            </span>
            <small style="text-align: right; font-weight: 900">EGP {{ device.session.previousSessionsTotalPrice }} : اجهزة سابقة </small>
          </div>
        </div>
      </div>
      <div *ngIf="device && device.session" class="row">
        <div class="col-8">
          <table class="table table-clear">
            <tbody>
              <tr>
                <td class="left">
                  <strong>مبلغ إجمالي</strong>
                </td>
                <td class="right">
                  <small class="text-muted">ِEGP </small>
                  <span class="text-primary" style="font-size: large"
                    >{{ (device | devicePrice: false:0:0:false:false:false | async) || '0 ' }}
                  </span>
                </td>
              </tr>
              <tr>
                <td class="left">
                  <strong
                    >خصم {{ ordersDiscount <= 0 && timeDiscount <= 0 ? '(0%)' : '' }}
                    {{ timeDiscount > 0 ? '(' + timeDiscount + '%)' : '' }}
                    {{ ordersDiscount > 0 ? '(' + ordersDiscount + '%)' : '' }}</strong
                  >
                </td>
                <td class="right">
                  <small class="text-muted">ِEGP </small>
                  <span class="text-primary" style="font-size: large">{{ totalDiscountPrice }}</span>
                </td>
              </tr>
              <tr>
                <td class="left">
                  <strong for="colFormLabelLg" class="">السعر الكلي</strong>
                </td>
                <td class="right">
                  <div *ngIf="device.session" class="form-group row">
                    <div class="col-sm-8">
                      <div class="input-group mb-3">
                        <input
                          type="email"
                          [(ngModel)]="totalPriceUser"
                          [ngModelOptions]="{ standalone: true }"
                          [value]="totalPriceUser"
                          class="form-control form-control-lg"
                          id="totalPriceBox"
                          placeholder=""
                        />
                        <span class="input-group-text pb-0">EGP</span>
                      </div>
                    </div>
                  </div>
                </td>
              </tr>
            </tbody>
          </table>
        </div>

        <div class="col-4">
          <div *ngIf="device.session" class="form-group">
            <div class="col">
              <div class="input-group mb-3">
                <input
                  type="number"
                  step="1"
                  min="0"
                  max="100"
                  (ngModelChange)="ordersDiscount = $event; getDevicePrice(); discountPrice()"
                  [(ngModel)]="ordersDiscount"
                  [ngModelOptions]="{ standalone: true }"
                  [value]="ordersDiscount"
                  class="form-control form-control-lg"
                  id="colFormLabelLg1"
                  placeholder=""
                />
                <span class="input-group-text p-0 p-1">% خصم الاوردرات</span>
              </div>
            </div>
            <div class="col">
              <div class="input-group mb-3">
                <input
                  type="number"
                  step="1"
                  min="0"
                  max="100"
                  (ngModelChange)="timeDiscount = $event; getDevicePrice(); discountPrice()"
                  [(ngModel)]="timeDiscount"
                  [ngModelOptions]="{ standalone: true }"
                  [value]="timeDiscount"
                  class="form-control form-control-lg"
                  id="colFormLabelLg"
                  placeholder=""
                />
                <span class="input-group-text p-0 p-1">% خصم الوقت</span>
              </div>
            </div>
            <hr />
          </div>

          <div class="col-sm-10 offset-sm-0">
            <div class="form-check">
              <input [(ngModel)]="print" [ngModelOptions]="{ standalone: true }" class="form-check-input" type="checkbox" id="printBox" />
              <label class="form-check-label" for="printBox"> طباعة بعد الحفظ </label>
            </div>
          </div>
          <button (click)="cancel()" data-dismiss="modal" aria-label="Close" class="btn btn-secondary col my-2 p-2">الغاء</button>
          <button (click)="endSession()" data-dismiss="modal" aria-label="Close" class="btn btn-primary col">ايقاف التشغيل</button>
        </div>
      </div>

      <div *ngIf="!device.session" class="form-group row">
        <div class="col-sm-10 offset-sm-0">
          <div class="form-check">
            <input [(ngModel)]="isMulti" [ngModelOptions]="{ standalone: true }" class="form-check-input" type="checkbox" id="gridCheck1" />
            <label class="form-check-label" for="gridCheck1"> multi </label>
          </div>
        </div>
      </div>
      <hr />
      <div *ngIf="!device.session" class="form-group row">
        <label class="form-check-label" for="gridCheck1"> اضافة وقت </label>
        <img
          (click)="plusMinutes = 5"
          class="col-auto border rounded mx-1"
          [ngClass]="{ 'border-secondary border-3': plusMinutes == 5 }"
          style="width: 90px; cursor: pointer"
          src="/content/images/clock/5min.jpg"
        />
        <img
          (click)="plusMinutes = 10"
          class="col-auto border rounded mx-1"
          [ngClass]="{ 'border-secondary border-3': plusMinutes == 10 }"
          style="width: 90px; cursor: pointer"
          src="/content/images/clock/10min.jpg"
        />

        <img
          (click)="plusMinutes = 15"
          class="col-auto border rounded mx-1"
          [ngClass]="{ 'border-secondary border-3': plusMinutes == 15 }"
          style="width: 90px; cursor: pointer"
          src="/content/images/clock/15min.jpg"
        />

        <img
          (click)="plusMinutes = 20"
          class="col-auto border rounded mx-1"
          [ngClass]="{ 'border-secondary border-3': plusMinutes == 20 }"
          style="width: 90px; cursor: pointer"
          src="/content/images/clock/20min.jpg"
        />

        <img
          (click)="plusMinutes = 30"
          class="col-auto border rounded mx-1"
          [ngClass]="{ 'border-secondary border-3': plusMinutes == 30 }"
          style="width: 90px; cursor: pointer"
          src="/content/images/clock/30min.jpg"
        />
        <button (click)="plusMinutes = 0" *ngIf="plusMinutes > 0" class="btn btn-danger my-2">الغاء الوقت الاضافي</button>
      </div>
      <hr *ngIf="!device.session" />

      <button *ngIf="!device.session" (click)="cancel()" data-dismiss="modal" aria-label="Close" class="btn btn-secondary col my-2 p-2">
        الغاء
      </button>
      <button *ngIf="!device.session" (click)="startSession()" data-dismiss="modal" aria-label="Close" class="btn btn-primary col">
        بدآ التشغيل
      </button>
    </div>
  </div>
</div>
