<ng-sidebar-accordion #accordion style="left: 0; bottom: unset" class="ng-sidebar-accordion__bottom-pane_over">
  <!-- A sidebar -->
  <ng-sidebar class="classtest" sidebarResizable="true" position="bottom" mode="over" [opened]="true">
    <ng-sidebar-header>
      <div>
        <div>ORDERS</div>
      </div>
    </ng-sidebar-header>

    <ng-sidebar-content class="classtest">
      <div class="row mx-1">
        <div class="col-md-5">
          <div class="row p-1" role="group" aria-label="..." style="overflow: scroll; max-height: 300px">
            <button
              *ngFor="let cat of categories"
              (click)="getAllProductsByCategory(cat.id)"
              type="button"
              class="btn btn-primary col-2 p-2 py-4 m-1"
            >
              {{ cat.name }}
            </button>
          </div>
          <hr />
        </div>
        <div class="col-md-7">
          <div *ngIf="products" class="row mx-1" style="overflow: scroll; max-height: 300px">
            <button
              *ngFor="let prod of products"
              (click)="addProductToSelectedDevice(prod.id)"
              style="padding: 25px; cursor: pointer"
              type="button"
              class="col-auto border rounded m-1 text-center"
            >
              {{ prod.name }}
              <small class="d-block badge badge-warning text-center">{{ prod.price }} LE</small>
            </button>
          </div>
        </div>
      </div>
    </ng-sidebar-content>
  </ng-sidebar>

  <!-- Page content -->
  <ng-sidebar-accordion-content>
    <div class="">
      <ul class="nav nav-pills nav-fill border px-3 py-2">
        <li class="nav-item">
          <a class="nav-link" (click)="selectTap('tapDevices')" [ngClass]="{ active: tapDevices }" aria-current="page" href="#">الاجهزة</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" (click)="selectTap('tapTables')" [ngClass]="{ active: tapTables }" href="#">الصالات</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" (click)="selectTap('tapTakeaway')" [ngClass]="{ active: tapTakeaway }" href="#">اوردارت</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" (click)="selectTap('tapShops')" [ngClass]="{ active: tapShops }" href="#">محلات</a>
        </li>
      </ul>
    </div>

    <div class="row" *ngIf="devices">
      <div class="col-8">
        <div class="card-body px-1" *ngIf="tapDevices">
          <h5 class="card-title mx-4">الاجهزة</h5>
          <div class="card jh-card m-2 p-4">
            <div class="row">
              <div class="col-md-3 p-1" *ngFor="let device of devices">
                <jhi-device-component
                  (deviceClicked)="selectedDevice = $event"
                  (deviceSelected)="selectedDevice = $event; openOrdersPanle()"
                  (deviceStopped)="closeOrdersPanle()"
                  [device]="device"
                  [isSelected]="selectedDevice && selectedDevice.id == device.id"
                >
                </jhi-device-component>
              </div>
            </div>
          </div>
        </div>

        <div class="card-body px-1" *ngIf="tapTables">
          <h5 class="card-title mx-4">الصالات</h5>
          <div class="card jh-card m-2 p-4">
            <div class="row">
              <div class="col-md-3 p-1" *ngFor="let table of tables">
                <jhi-table-component
                  (tableClicked)="selectedTable = $event; openOrdersPanle()"
                  [isSelected]="selectedTable && selectedTable.id == table.id"
                  (tableStarted)="loadAllTables()"
                  (tableStopped)="selectedTable = null; loadAllTables()"
                  [table]="table"
                ></jhi-table-component>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="col-4 py-5">
        <div class="card p-3" *ngIf="selectedDevice">
          <h5 class="card-title">
            {{ selectedDevice.name }}
          </h5>

          <div class="card-body">
            <div class="row" *ngIf="selectedDevice">
              <div class="text-center align-center justify-content-center card-subtitle rounded border border-2 shadow-sm">
                <small
                  class="d-block"
                  *ngIf="selectedDevice && selectedDevice.session && selectedDevice.session.ordersPrice"
                  for="staticEmail"
                  class="row"
                  >{{ formateMoney(selectedDevice.session.ordersPrice) }} : حساب الطلبات</small
                >

                <small class="d-block" *ngIf="selectedDevice && selectedDevice.session" for="staticEmail" class="row">
                  {{ (selectedDevice | devicePriceTimeOnly | async) || 'EGP 0' }} :حساب الوقت</small
                >
              </div>
              <h5 class="card-title my-2">الطلبات</h5>
              <ul class="list-group list-group-flush border border-1 rounded-lg p-0" style="direction: rtl">
                <li *ngFor="let prod of selectedDevice.session.orders" class="list-group-item">
                  <span class="float-left">
                    {{ prod.name }}
                    <button class="btn btn-sm btn-danger" (click)="deleteProductFromSelectedDevice(prod.id)">
                      <i class="fa fa-minus"></i>
                    </button>
                  </span>
                  <span style="font-size: large" *ngIf="!selectedDevice.session.ordersQuantity[prod.id]" class="float-right text-primary"
                    >1

                    <small class="text-muted">* {{ prod.price }}LE</small>
                  </span>

                  <span style="font-size: large" *ngIf="selectedDevice.session.ordersQuantity[prod.id]" class="float-right text-primary">
                    <span class="badge badge-primary">{{ selectedDevice.session.ordersQuantity[prod.id] }}</span>

                    <small class="text-muted">* {{ prod.price }}LE</small>
                  </span>
                </li>
              </ul>
            </div>
          </div>
        </div>

        <div class="card p-3" *ngIf="selectedTable">
          <h5 class="card-title">
            {{ selectedTable.name }}
          </h5>

          <div class="card-body">
            <div class="row" *ngIf="selectedTable">
              <h5 class="card-title my-2">الطلبات</h5>
              <ul class="list-group list-group-flush border border-1 rounded-lg p-0" style="direction: rtl">
                <li *ngFor="let prod of selectedTable.ordersData" class="list-group-item">
                  <span class="float-left">
                    {{ prod.name }}
                    <button class="btn btn-sm btn-danger" (click)="deleteProductFromSelectedDevice(prod.id)">
                      <i class="fa fa-minus"></i>
                    </button>
                  </span>
                  <span style="font-size: large" *ngIf="!selectedTable.ordersQuantity[prod.id]" class="float-right text-primary"
                    >1

                    <small class="text-muted">* {{ prod.price }}LE</small>
                  </span>

                  <span style="font-size: large" *ngIf="selectedTable.ordersQuantity[prod.id]" class="float-right text-primary">
                    <span class="badge badge-primary">{{ selectedTable.ordersQuantity[prod.id] }}</span>

                    <small class="text-muted">* {{ prod.price }}LE</small>
                  </span>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </ng-sidebar-accordion-content>
</ng-sidebar-accordion>
