<ng-sidebar-accordion #accordion style="left: 0; bottom: unset" class="ng-sidebar-accordion__bottom-pane_over">
  <!-- A sidebar -->
  <ng-sidebar *ngIf="account" class="classtest" sidebarResizable="true" position="bottom" mode="over" [opened]="false">
    <ng-sidebar-header>
      <div>
        <div><h3 class="m-0 pt-2">الطلبات</h3></div>
      </div>
    </ng-sidebar-header>

    <ng-sidebar-content class="classtest" style="overflow: scroll">
      <div class="row mx-1">
        <div class="col-md-5">
          <h5 class="card-title mx-0 text-center bg-dark text-white rounded p-1 pl-2">الاصناف</h5>
          <div class="row border border-2 border-primary p-2 rounded" style="overflow: scroll; max-height: 250px">
            <button
              *ngFor="let cat of categories"
              (click)="getAllProductsByCategory(cat.id)"
              type="button"
              class="col-auto p-2 py-4 m-1 badge badge-primary"
              style="font-size: large; min-width: 100px"
            >
              <h6 style="font-weight: bold !important">{{ cat.name }}</h6>
            </button>
          </div>
        </div>
        <div class="col-md-7">
          <h5 class="card-title mx-0 text-center bg-dark text-white rounded p-1 pl-2">الطلبات</h5>
          <div *ngIf="products" class="row mx-1" style="overflow: scroll; max-height: 250px">
            <button
              *ngFor="let prod of products"
              (click)="addProductToSelectedDevice(prod.id)"
              style="padding: 25px; cursor: pointer"
              type="button"
              class="col-auto border rounded m-1 text-center"
            >
              {{ prod.name }}
              <small *ngIf="tapDevices || (tapTables && !tapTakeaway)" class="d-block badge badge-warning text-center"
                >{{ prod.price }} LE</small
              >

              <small *ngIf="!tapDevices && !tapTables && !tapShops && tapTakeaway" class="d-block badge badge-warning text-center"
                >{{ prod.takeawayPrice }} LE</small
              >

              <small *ngIf="!tapDevices && !tapTables && !tapTakeaway && tapShops" class="d-block badge badge-warning text-center"
                >{{ prod.shopsPrice }} LE</small
              >
            </button>
          </div>
        </div>
      </div>
    </ng-sidebar-content>
  </ng-sidebar>

  <!-- Page content -->
  <ng-sidebar-accordion-content (click)="closeOrdersPanle()">
    <div *ngIf="!account">
      <div class="card p-5 border rounded shadow-sm m-3">
        <h1 class="display-4"><span>Welcome, To VAR</span> (1.0)</h1>
        <img src="/content/images/logo.jpeg" style="width: 800px; margin: 0 auto" />
        <div class="alert alert-warning">
          <a class="alert-link" (click)="login()">تسجيل الدخول</a>
        </div>
      </div>
    </div>

    <div class="" *ngIf="account">
      <ul class="nav nav-pills nav-fill border px-3 py-2">
        <li class="nav-item">
          <a class="nav-link mainTabTxt" (click)="selectTap('tapDevices')" [ngClass]="{ active: tapDevices }" aria-current="page" href="#"
            >الاجهزة</a
          >
        </li>
        <li class="nav-item">
          <a class="nav-link mainTabTxt" (click)="selectTap('tapTables')" [ngClass]="{ active: tapTables }" href="#">الصالات</a>
        </li>
        <li class="nav-item">
          <a class="nav-link mainTabTxt" (click)="selectTap('tapTakeaway')" [ngClass]="{ active: tapTakeaway }" href="#">اوردارت</a>
        </li>

        <li class="nav-item">
          <a class="nav-link mainTabTxt" (click)="selectTap('tapShops')" [ngClass]="{ active: tapShops }" href="#">محلات</a>
        </li>
      </ul>

      <jhi-tables-tap-component
        [tableType]="'shops'"
        (tableDoubleClicked)="onTableSelectionChange($event); openOrdersPanle()"
        [events]="eventReloadTables.asObservable()"
        (tableSelected)="onTableSelectionChange($event)"
        *ngIf="tapShops"
      ></jhi-tables-tap-component>

      <jhi-tables-tap-component
        [tableType]="'takeaway'"
        (tableDoubleClicked)="onTableSelectionChange($event); openOrdersPanle()"
        [events]="eventReloadTables.asObservable()"
        (tableSelected)="onTableSelectionChange($event)"
        *ngIf="tapTakeaway"
      ></jhi-tables-tap-component>

      <jhi-tables-tap-component
        [tableType]="'table'"
        (tableDoubleClicked)="onTableSelectionChange($event); openOrdersPanle()"
        [events]="eventReloadTables.asObservable()"
        (tableSelected)="onTableSelectionChange($event)"
        *ngIf="tapTables"
      ></jhi-tables-tap-component>
      <div class="row" *ngIf="devices">
        <div class="col-8">
          <jhi-checkout-component
            (deviceStopped)="selectedDevice = null; closeOrdersPanle(); showCheckOut = false; loadAllDevices()"
            (deviceStarted)="showCheckOut = false; selectedDevice = $event; loadAllDevices()"
            (closeCheckOut)="showCheckOut = false"
            *ngIf="selectedDevice && showCheckOut"
            [device]="selectedDevice"
          ></jhi-checkout-component>

          <div class="card-body px-1" *ngIf="tapDevices && !showCheckOut">
            <h5 class="card-title mx-4">الاجهزة</h5>
            <div class="card jh-card m-2 p-4">
              <div class="row justify-content-center align-items-center">
                <div class="col-md-3 p-1" *ngFor="let device of devices">
                  <jhi-device-component
                    (deviceClicked)="selectedDevice = $event"
                    (deviceSelected)="selectedDevice = $event"
                    (deviceStopped)="selectedDevice = null; closeOrdersPanle()"
                    [device]="device"
                    [isSelected]="selectedDevice && selectedDevice.id == device.id"
                    (deviceMoved)="loadAllDevices()"
                    (deviceDoubleClicked)="selectedDevice = $event; openOrdersPanle()"
                    (deviceCheckOut)="selectedDevice = device; closeOrdersPanle(); showCheckOut = true"
                  >
                  </jhi-device-component>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="col-lg-4 py-5 col-sm-12">
          <div class="card p-3" *ngIf="selectedDevice">
            <h5 class="card-title">
              {{ selectedDevice.name }}
            </h5>

            <div class="card-body">
              <div class="row" *ngIf="selectedDevice && selectedDevice.session && selectedDevice.session.orders">
                <div class="table-responsive" id="entities">
                  <table class="table" aria-describedby="page-heading">
                    <thead>
                      <tr style="display: none">
                        <th scope="col"><span>اسم الجهاز</span> <fa-icon icon="sort"></fa-icon></th>

                        <th scope="col"><span>الوقت</span> <fa-icon icon="sort"></fa-icon></th>

                        <th scope="col"><span>سعر الوقت</span> <fa-icon icon="sort"></fa-icon></th>
                        <th scope="col"><span>سعر الوقت</span> <fa-icon icon="sort"></fa-icon></th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr *ngFor="let prod of selectedDevice.session.orders.slice().reverse()" data-cy="entityTable">
                        <td style="word-break: break-word" class="text-center">
                          <h6 style="word-break: keep-all" class="text-primary">{{ prod.name }}</h6>
                        </td>

                        <td>
                          <span style="font-size: large" class="float-left text-primary col-xs p-0">
                            <span class="badge badge-primary">{{
                              selectedDevice.session.ordersQuantity[prod.id] ? selectedDevice.session.ordersQuantity[prod.id] : '1'
                            }}</span>
                          </span>
                        </td>

                        <td>
                          <small class="text-muted"> {{ prod.price }}LE</small>
                        </td>
                        <td>
                          <button class="btn btn-sm btn-danger" (click)="deleteProductFromSelectedDevice(prod.id)">
                            <i class="fa fa-minus"></i>
                          </button>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </ng-sidebar-accordion-content>
</ng-sidebar-accordion>
