<div>
  <h2 id="page-heading" data-cy="TableRecordHeading">
    <span> سجلات الصالات</span>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="tableRecords?.length === 0">
    <span>No tableRecords found</span>
  </div>

  <div class="table-responsive" id="entities" *ngIf="tableRecords && tableRecords.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" (sortChange)="loadPage()">
          <td>الرقم التعريفي</td>
          <td>التاريخ</td>
          <td>اسم الصالة</td>
          <td>السعر الكلي</td>
          <td>خصم</td>
          <td>اجمالي السيستم</td>
          <td>الاجمالي</td>
          <td></td>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let tableRecord of tableRecords; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/admin/entities/table-record/', tableRecord.id, 'view']">{{ tableRecord.id }}</a>
          </td>
          <td>{{ tableRecord.createdDate | localizedDate }}</td>
          <td>{{ tableRecord.table.name }}</td>
          <td>{{ tableRecord.netTotalPrice }}</td>
          <td>
            {{ tableRecord.discount }}٪
            <small *ngIf="tableRecord.totalDiscountPrice > 0" class="text-muted">
              <td>جنيه{{ tableRecord.totalDiscountPrice }}</td></small
            >
          </td>
          <td>{{ tableRecord.netTotalPrice - tableRecord.totalDiscountPrice }}</td>
          <td>{{ tableRecord.totalPrice }}</td>
          <td class="text-right">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/admin/entities/table-record/', tableRecord.id, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
              </button>

              <button type="submit" (click)="delete(tableRecord)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div *ngIf="tableRecords && tableRecords.length > 0">
    <div class="row justify-content-center">
      <jhi-item-count [params]="{ page: page, totalItems: totalItems, itemsPerPage: itemsPerPage }"></jhi-item-count>
    </div>

    <div class="row justify-content-center">
      <ngb-pagination
        [collectionSize]="totalItems"
        [(page)]="ngbPaginationPage"
        [pageSize]="itemsPerPage"
        [maxSize]="5"
        [rotate]="true"
        [boundaryLinks]="true"
        (pageChange)="loadPage($event)"
      ></ngb-pagination>
    </div>
  </div>
</div>
