<div class="row justify-content-center">
  <div class="col-8">
    <div *ngIf="record">
      <h2 data-cy="recordDetailsHeading"><span jhiTranslate="erApp.record.detail.title">Record</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="erApp.record.id">Id</span></dt>
        <dd>
          <span>{{ record.id }}</span>
        </dd>
        <dt><span jhiTranslate="erApp.record.start">Start</span></dt>
        <dd>
          <span>{{ record.start | localizedDate }}</span>
        </dd>
        <dt><span jhiTranslate="erApp.record.end">End</span></dt>
        <dd>
          <span>{{ record.end | localizedDate }}</span>
        </dd>
        <dt><span>المدة</span></dt>
        <dd>
          <span>{{ record.hours + ' h ' + record.minutes + ' m' }}</span>
        </dd>

        <dt><span>سعر الطلبات</span></dt>
        <dd>
          <span>{{ formateMoney(record.totalPriceOrders) }}</span>
        </dd>

        <dt><span>سعر الوقت</span></dt>
        <dd>
          <span>{{ formateMoney(record.totalPriceTime) }}</span>
        </dd>

        <dt><span>خصم الطلبات</span></dt>
        <dd>
          <span>{{ record.ordersDiscount }}%</span>
        </dd>

        <dt><span>خصم الوقت</span></dt>
        <dd>
          <span>{{ record.timeDiscount }}%</span>
        </dd>

        <dt><span>السعر قبل الخصم</span></dt>
        <dd>
          <span>{{ formateMoney(record.totalPriceTime + record.totalPriceOrders) }} </span>
        </dd>
        <dt><span>حساب اجهزة سابقة</span></dt>
        <dd>
          <span>{{ formateMoney(record.previousSessionsTotalPrice) }}</span>
        </dd>

        <dt><span jhiTranslate="erApp.record.totalPrice">Total Price</span></dt>
        <dd>
          <span>{{ formateMoney(record.totalPrice) }}</span>
        </dd>

        <dt><span>سعر المستخدم</span></dt>
        <dd>
          <span>{{ formateMoney(record.totalPriceUser) }}</span>
        </dd>
        <dt><span jhiTranslate="erApp.record.device">Device</span></dt>
        <dd>
          <div *ngIf="record.device">
            <a [routerLink]="['/admin/entities/device', record.device?.id, 'view']">{{ record.device?.name }}</a>
          </div>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
      </button>
    </div>
  </div>
  <div class="col-4">
    <div class="card-body" *ngIf="record.ordersData && record.ordersData.length > 0">
      <div class="row" *ngIf="record">
        <h5 class="card-title my-2">الطلبات</h5>

        <div class="table-responsive" id="entities">
          <table class="table" aria-describedby="page-heading">
            <thead>
              <tr style="display: none">
                <th scope="col"><span>اسم الجهاز</span> <fa-icon icon="sort"></fa-icon></th>

                <th scope="col"><span>الوقت</span> <fa-icon icon="sort"></fa-icon></th>

                <th scope="col"><span>سعر الوقت</span> <fa-icon icon="sort"></fa-icon></th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let prod of record.ordersData.slice().reverse()" data-cy="entityTable">
                <td style="word-break: break-word" class="text-center">
                  <h6 class="text-primary">{{ prod.name }}</h6>
                </td>

                <td>
                  <span style="font-size: large" class="float-left text-primary col-xs p-0">
                    <span class="badge badge-primary">{{ record.ordersQuantity[prod.id] ? record.ordersQuantity[prod.id] : '1' }}</span>
                  </span>
                </td>

                <td>
                  <small class="text-muted"> {{ prod.price }}LE</small>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>

    <div class="card-body" *ngIf="record.previousSessions && record.previousSessions.length > 0">
      <div class="row" *ngIf="record">
        <h5 class="card-title my-2">اجهزة اخري / تحويل اجهزة</h5>
        <div *ngIf="record.previousSessions && record.previousSessions.length > 0" class="col-12">
          <div class="my-2 row">
            <span *ngFor="let sess of record.previousSessions" class="badge my-2 col-12 border pt-2">
              <h6 style="text-align: left" class="mx-1 col-auto text-black p-0">
                {{ sess.device.name }}
              </h6>
              <span>
                <label class="badge badge-success col-xs float-left"
                  >{{ sess.hours + 'h ' + sess.minutes + ' m' }}

                  <span *ngIf="sess.multi">
                    <small class="border bg-light text-danger p-1 rounded"> <i class="fa fa-gamepad mr-2"> </i>{{ 'multi' }}</small>
                  </span>
                </label>
                <a href="#" class="card-link float-right m-0 pr-2 col-auto p-1" style="border: 1px darkblue dotted"
                  >EGP {{ sess.totalPriceTime }}
                </a>
              </span>
            </span>
            <small style="text-align: right; font-weight: 900">EGP {{ record.previousSessionsTotalPrice }} : اجهزة سابقة </small>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
