<div class="row justify-content-center">
  <div class="col-8">
    <div *ngIf="record">
      <h2 data-cy="recordDetailsHeading"><span jhiTranslate="erApp.record.detail.title">Record</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="erApp.record.id">Id</span></dt>
        <dd>
          <span>{{ record.id }}</span>
        </dd>
        <dt><span jhiTranslate="erApp.record.start">Start</span></dt>
        <dd>
          <span>{{ record.start | formatMediumDatetime }}</span>
        </dd>
        <dt><span jhiTranslate="erApp.record.end">End</span></dt>
        <dd>
          <span>{{ record.end | formatMediumDatetime }}</span>
        </dd>
        <dt><span jhiTranslate="erApp.record.totalPrice">Total Price</span></dt>
        <dd>
          <span>{{ record.totalPrice }}</span>
        </dd>
        <dt><span jhiTranslate="erApp.record.device">Device</span></dt>
        <dd>
          <div *ngIf="record.device">
            <a [routerLink]="['/device', record.device?.id, 'view']">{{ record.device?.name }}</a>
          </div>
        </dd>
        <dt><span jhiTranslate="erApp.record.orders">Orders</span></dt>
        <dd>
          <span *ngFor="let orders of record.orders; let last = last">
            <a [routerLink]="['/product', orders?.id, 'view']">{{ orders.id }}</a
            >{{ last ? '' : ', ' }}
          </span>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
      </button>

      <button type="button" [routerLink]="['/record', record.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
      </button>
    </div>
  </div>
</div>
