<!--  <span class="row badge badge-warning col-12 m-auto border border-danger border-2" col-12="">
  <span class="float-right col-12 text-right border-bottom pb-1 mb-1 text-primary">محمود عبد السميع</span
  ><span class="float-right col-auto text-muted">حجز</span> <a class="float-left col-auto nav-link p-0 text-primary">باقي ٥ دقائق</a
  ><span class="float-left col-auto">١ ص</span>
</span>
-->

<div
  (mouseenter)="showCloseButton = true"
  (mouseleave)="showOptions = false; showCloseButton = false"
  class="card border"
  [ngClass]="{
    'border-3': isSelected,
    'border-success border-active': device.session,
    'border-danger': !device.session
  }"
  style="
    cursor: pointer;
    user-select: none; /* supported by Chrome and Opera */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
  "
  (click)="singleClick()"
  (dblclick)="dblClick()"
>
  <div class="card-body">
    <h5 class="card-title">
      <span>
        <i class="fa fa-tv" aria-hidden="true"></i> <a (click)="OnDeviceClicked()" href="#" class="card-link"> {{ device.name }}</a></span
      >
    </h5>
    <h6 class="card-subtitle mb-2 text-muted my-3">
      {{ device.type.name }}
      <span *ngIf="device.session && device.session.multi">
        <small class="border bg-light text-danger p-1 rounded d-block"> <i class="fa fa-gamepad mr-2"> </i>{{ 'multi' }}</small>
      </span>
    </h6>

    <div style="text-align: center" *ngIf="device.session && device.session">
      <button
        *ngIf="device.session && device.session"
        (click)="showPreviousSessions = false; showOptions = !showOptions"
        class="btn mt-3 col-3 badge-primary shadow-sm border text-center m-auto btn-sm p-0"
      >
        <i style="font-size: large" class="fa fa-cog m-auto mx-0 mt-1" aria-hidden="true"></i>
        {{ showOptionsTxt ? 'اعدادات' : '' }}
      </button>
      <button
        *ngIf="device.session && device.session && device.session.previousSessions && device.session.previousSessions.length > 0"
        (click)="selectDevice(device); showPreviousSessions = !showPreviousSessions; showOptions = false"
        class="btn mt-3 col-3 shadow-sm border text-center m-auto btn-sm p-0"
        [ngClass]="{ 'badge-primary': !showPreviousSessions, 'badge-warning': showPreviousSessions && isSelected }"
      >
        <i style="font-size: large" class="fa fa-tv m-auto mx-0 mt-1" aria-hidden="true"></i>
        {{ device.session.previousSessions.length }}
      </button>
      <button
        *ngIf="device.session && device.session && showCloseButton && device.session.paidOrdersPrice === 0"
        (click)="diableClick(); openCheckOut()"
        class="btn mt-3 col-3 badge-danger shadow-sm border text-center m-auto btn-sm p-0"
      >
        <i style="font-size: large" class="fa fa-credit-card m-auto mx-0 mt-1" aria-hidden="true"></i>
        {{ showCloseSessionsTxt ? 'انهاء  ' : '' }}
      </button>
      <button
        [disabled]="true"
        *ngIf="device.session.paidOrdersPrice > 0 && showCloseButton"
        (click)="diableClick(); openCheckOut()"
        class="btn mt-3 col-3 badge-danger shadow-sm border text-center m-auto btn-sm p-0"
      >
        <i style="font-size: large" class="fa fa-credit-card m-auto mx-0 mt-1" aria-hidden="true"></i>
        يجب ازالة حساب طلبات
      </button>
    </div>

    <div
      *ngIf="
        device.session &&
        device.session.previousSessions &&
        device.session.previousSessions.length > 0 &&
        isSelected &&
        showPreviousSessions
      "
      class="my-2 row"
    >
      <span *ngFor="let sess of device.session.previousSessions" class="badge my-2 col-12 border pt-2">
        <h6 style="text-align: left" class="mx-1 col-auto text-black p-0">
          {{ sess.device.name }}
        </h6>
        <span>
          <label class="badge badge-success col-xs float-left"
            >{{ sess.hours + 'h ' + sess.minutes + ' m' }}

            <span *ngIf="sess.multi">
              <small class="border bg-light text-danger p-1 rounded"> <i class="fa fa-gamepad mr-2"> </i>{{ 'multi' }}</small>
            </span>
          </label>
          <a href="#" class="card-link float-right m-0 pr-2 col-auto p-1" style="border: 1px darkblue dotted"
            >EGP {{ sess.totalPriceTime }}
          </a>
        </span>
      </span>
      <small style="text-align: right; font-weight: 900">EGP {{ device.session.previousSessionsTotalPrice }} : اجهزة سابقة </small>
    </div>

    <div style="text-align: center" *ngIf="device.session && device.session">
      <li
        class="col-sm p-0 pointer my-1 border text-center btn p-2 shadow-sm dropdown px-5"
        (click)="loadAllDevices()"
        *ngIf="device.session && showOptions"
        style="list-style: none"
        ngbDropdown
        display="dynamic"
        routerLinkActive="active"
        [routerLinkActiveOptions]="{ exact: true }"
      >
        <a
          style="float: right; font-size: small; text-align: right"
          class="nav-link dropdown-toggle p-0"
          ngbDropdownToggle
          href="javascript:void(0);"
          id="entity-menu"
          data-cy="entity"
        >
          <span>
            <i class="fa fa-share" aria-hidden="true"></i>
            <span>تحويل لجهاز</span>
          </span>
        </a>
        <ul style="overflow: scroll; max-height: 300px" class="dropdown-menu" ngbDropdownMenu aria-labelledby="entity-menu">
          <li *ngFor="let device of devices">
            <a class="dropdown-item" style="text-transform: none" (click)="moveToDevice(device)">
              <span>{{ device.name }}</span>
            </a>
          </li>
        </ul>
      </li>

      <li
        class="col-sm p-0 pointer my-1 border text-center btn p-2 shadow-sm"
        (click)="moveToDeviceMulti()"
        *ngIf="device.session && showOptions"
        style="list-style: none"
        display="dynamic"
        routerLinkActive="active"
        [routerLinkActiveOptions]="{ exact: true }"
      >
        <a
          style="float: right; font-size: small; text-align: right"
          class="nav-link p-0"
          href="javascript:void(0);"
          id="entity-menuX"
          data-cy="entity"
        >
          <span>
            <i class="fa fa-gamepad mr-2" aria-hidden="true"></i>
            <span
              >multi
              <i *ngIf="device.session.multi" class="fa fa-times mr-2 text-danger" aria-hidden="true"></i>
              <i *ngIf="!device.session.multi" class="fa fa-check mr-2 text-success" aria-hidden="true"></i>
            </span>
          </span>
        </a>
      </li>
    </div>
  </div>
  <div *ngIf="device.session" class="card-footer p-2">
    <a href="#" class="card-link">
      <label class="badge badge-success">{{ (device.session.start | countdowntimer | async) || '0 m' }}</label></a
    >
    <a href="#" class="card-link float-right m-0 pr-2">{{ device | devicePrice: false:0:0:false:false:true | async }}</a>
  </div>
  <div *ngIf="!device.session" class="card-footer p-2">
    <a href="#" class="card-link float-left">
      <label class="badge badge-danger">{{ 'متوقف' }}</label></a
    >
  </div>
</div>
